# Application
SERVICE_NAME=EmailAlias Service
SERVICE_DESCRIPTION=System for secure email alias management and verification.
COMPOSE_PROJECT_NAME=emailalias
HOST=0.0.0.0
PORT=8080
DEBUG=True

# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT=text
LOG_OUTPUT=stdout

# Security & CORS

# Generate a random 32-byte (64-character hexadecimal) secret key.
SECRET_KEY=628db64615a7358d66a20c88d86e22e628b242047b6c6ae461c985486f2322a6

# Comma-separated list of allowed frontend origins.
BACKEND_CORS_ORIGINS=http://localhost:3000

# Database (PostgreSQL)

# PostgreSQL server hostname.
POSTGRES_HOST=postgres

# PostgreSQL database name.
POSTGRES_DB=emailalias_db

# PostgreSQL username.
POSTGRES_USER=postgres

# PostgreSQL user password.
POSTGRES_PASSWORD=68x6VVDXzm8YFWR3LM6G3wiHtMfsZlpbzmqZJRhsVQg=

# Cache (Redis)
REDIS_URL=redis://redis:6379/0

# Message Broker (RabbitMQ)

# RabbitMQ server hostname.
RABBITMQ_HOST=rabbitmq

# RabbitMQ virtual host.
RABBITMQ_VHOST=/

# RabbitMQ username.
RABBITMQ_USER=emailalias

# RabbitMQ user password.
RABBITMQ_PASSWORD=your_rabbitmq_password

# Rate Limiting
RATE_LIMIT_DEFAULT=100/minute
RATE_LIMIT_DOMAINS=100/minute
RATE_LIMIT_TOKEN_CREATION=100/minute
RATE_LIMIT_VERIFICATION_CREATION=100/minute
RATE_LIMIT_VERIFICATION_CONFIRMATION=100/minute
RATE_LIMIT_USER_CREATION=100/minute
RATE_LIMIT_USER_UPDATE=100/minute
RATE_LIMIT_USER_DELETION=100/minute
RATE_LIMIT_PASSWORD_UPDATE=100/minute
RATE_LIMIT_ALIAS_CREATION=100/minute
RATE_LIMIT_ALIAS_DELETION=100/minute
RATE_LIMIT_ALIASES_LIST=100/minute

# External Providers

# Your Beget account login.
BEGET_LOGIN=your_beget_login

# Your Beget account password.
BEGET_PASSWORD=your_beget_password

# Testing
TEST_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}_test
TEST_REDIS_URL=redis://redis:6379/1

# Business Rules
ALIAS_FREE_TIER_MONTHLY_LIMIT=100
ALIAS_FREE_TIER_ACTIVE_LIMIT=10
