# Application
SERVICE_NAME=EmailAlias Service
SERVICE_DESCRIPTION=System for secure email alias management and verification.
COMPOSE_PROJECT_NAME=emailalias
HOST=0.0.0.0
PORT=8080
DEBUG=True

# Logging
LOG_LEVEL=ERROR
LOG_FORMAT=text
LOG_OUTPUT=stdout

# Security & CORS
SECRET_KEY=628db64615a7358d66a20c88d86e22e628b242047b6c6ae461c985486f2322a6
BACKEND_CORS_ORIGINS=http://localhost:3000

# Database (PostgreSQL)
POSTGRES_HOST=postgres
POSTGRES_DB=emailalias_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=68x6VVDXzm8YFWR3LM6G3wiHtMfsZlpbzmqZJRhsVQg=

# Cache (Redis)
REDIS_URL=redis://redis:6379/0

# Message Broker (RabbitMQ)
RABBITMQ_HOST=rabbitmq
RABBITMQ_VHOST=/
RABBITMQ_USER=emailalias
RABBITMQ_PASSWORD=68x6VVDXzm8YFWR3LM6G3wiHtMfsZlpbzmqZJRhsVQg=

# Rate Limiting
RATE_LIMIT_DEFAULT=60/minute
RATE_LIMIT_DOMAINS=100/minute
RATE_LIMIT_TOKEN_CREATION=100/minute
RATE_LIMIT_VERIFICATION_CREATION=100/minute
RATE_LIMIT_VERIFICATION_CONFIRMATION=100/minute
RATE_LIMIT_USER_CREATION=100/minute
RATE_LIMIT_USER_UPDATE=100/minute
RATE_LIMIT_USER_DELETION=100/minute
RATE_LIMIT_PASSWORD_UPDATE=100/minute

# Testing
TEST_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}_test
TEST_REDIS_URL=redis://redis:6379/1
